  <!-- FOOTER START-->
<footer>
    <section class="social-media-container">
      <p>Copyright &copy; Design: Portfolio by Aga</p>
    </section>
    <ul class="social-media-icons">
      <li>
        <img
          class="instagram"
          src="/assets/img/icons8-instagram-100.png"
          alt="instagram icon"
        />
      </li>
      <li>
        <img
          class="facebook"
          src="/assets/img/icons8-facebook-100.png"
          alt="facebook icon"
        />
      </li>
      <li>
        <img
          class="twitter"
          src="/assets/img/icons8-twitter-100.png"
          alt="twitter icon"
        />
      </li>
    </ul>
</footer>