* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*NAVBAR BOOTSTRAP START*/

.navbar-brand {
  padding: 20px;
  font-size: 30px !important;
  font-family: "Abril Fatface", serif;
  color: #215d6c !important; /* Change to your preferred text color */
  font-family: "Abril Fatface", cursive;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-link {
  color: #215d6c !important; /* Change to your preferred text color */
  margin-right: 30px; /* Adjust spacing between navbar items */
  padding: 30px;
  font-size: 18px;
}

/*Nav-Bar LOGO container*/
#logo {
  width: 250px;
}

/*nav-bar hover efect*/
li:hover {
  opacity: 0.5;
  color: #855564;
  font-weight: bold;
}

/*NAVBAR BOOTSTRAP END*/

/*Hero section bootstrap*/
.carousel-inner {
  height: 550px; /* Set a fixed height for the carousel container */
}

.carousel-item {
  height: 100%; /* Set the height to 100% of the carousel container */
  display: flex;
  align-items: center;
  justify-content: center;
  border: dotted #b8c4cb;
}

.carousel-item:nth-child(1) {
  background: url("assets/img/bg1.jpg") center/cover no-repeat; /* Background image for the first slide */
}

.carousel-item:nth-child(2) {
  background: url("assets/img/bg2.jpg") center/cover no-repeat; /* Background image for the second slide */
}

.carousel-item:nth-child(3) {
  background: url("assets/img/bg3.jpg") center/cover no-repeat; /* Background image for the third slide */
}

.hero-h1 {
  font-size: 46px;
}

.hero-main-text {
  text-align: center;
  color: #215d6c;
  font-size: 60px;
  margin: auto;
  padding-top: 160px;
  font-family: "Abril Fatface", serif;
}
/*hero section bootstrap ends*/

/*Portrait in about me section*/

#portrait {
  border-radius: 10%;
  height: 500px;
  box-shadow: 25px 30px #b8c4cb;
  margin-top: 60px;
}

.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#about-me-text {
  padding: 20px;
  color: #215d6c;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  padding: 5px;
  font-weight: bold;
}

/*End of about me section*/

/*SKILLS ICONS Section START*/

.col-md-2 img {
  width: 100px;
  height: 100px;
  background-color: #b8c4cb;
  border-radius: 50px;
}

.col-md-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

#img-resizing {
  transition: transform 0.2s; /* Animation */
}

#img-resizing:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.display-3 {
  font-family: "Poppins", sans-serif;
  font-size: 35px !important;
  color: #215d6c;
  text-align: center;
  padding: 30px;
}

.icon-name {
  color: #215d6c;
}

/*SKILLS ICONS END*/

/*PROJECTS BOOTSRTAP START*/
.card-img-top {
  height: 300px;
}

.card {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2 !important;
}

.card-title {
  font-family: "Abril Fatface", cursive;
}

#projects {
  background-color: #215d6c;
}

.display-4 {
  font-family: "Poppins", sans-serif;
  font-size: 30px !important;
  color: #f2f2f2;
}

.btn {
  background-color: #804e49 !important;
  border: #b8c4cb solid 2px;
  font-family: "Abril Fatface", cursive;
  cursor: pointer;
  color: #fff !important;
  font-weight: bold !important;
}

.card:hover {
  opacity: 0.8;
  border: #b8c4cb;
}

/*PROJECTS BOOTSRTAP END*/

/*Contact me section + form*/

.form-container {
  -webkit-box-shadow: 4px 7px 11px 8px rgba(0,0,0,0.64); 
box-shadow: 4px 7px 11px 8px rgba(0,0,0,0.64);
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Poppins", sans-serif;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #804e49;
  color: white;
  padding: 6px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green lighter */
input[type="submit"]:hover {
  background-color: #fff;
}

.form-container {
  background-color: #215d6c;
}

form {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* FOOTER start*/
footer {
  width: 100%;
  margin-top: auto;
  margin-bottom: 0;
  height: 100px;
  padding: 40px;
  display: flex;
  background-color: #ad6e83;
  color: #e5a478;
  align-items: center;
  justify-content: space-around;
}

/*Social media icons*/
.social-media-icons {
  list-style: none;
  display: inline-block;
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.instagram {
  width: 70px;
  height: 70px;
}
.facebook {
  width: 70px;
  height: 70px;
}
.twitter {
  width: 70px;
  height: 70px;
}

/*Hover efect*/
.instagram:hover {
  padding: 10px;
  opacity: 0.6;
}
.facebook:hover {
  padding: 10px;
  opacity: 0.6;
}

.twitter:hover {
  padding: 10px;
  opacity: 0.6;
}

/*Footer end */

/*scroll button start*/
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 24px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#scrollToTopBtn:hover {
  background-color: #0056b3;
}
/*scroll button end*/
