---
title: Blog
layout: 'base.njk'
---


<style>
.blog-container {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

</style>
<main class="blog-container">
<article class="blog-content">
    <h1 class="blog-header"> A Peek into My Tip Calculation Journey </h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has bEver found yourself puzzled when calculating tips for your bills? I recently delved into simplifying this process by creating a straightforward JavaScript program. Let me walk you through what I did:<p>

         <p>The Code Breakdown<p>

      

</article>

</main>
