---
title: Contact
layout: 'base.njk'
---

<style>
.form-container{
  padding: 20px;
  margin: 20px;
  display: flex; 
}

  #form-img-container {
    flex: 1;
    margin-right: 20px; /* Adjust as needed for spacing */
  }

  #form-img {
    width: 100%;
    height: auto;
  }

  form {
    width: 100%;
    color: white;
    padding-top: 150px; 
  }

  .form-page {
    flex: 1;
    margin-top: 100px;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style> 

<main class= "form-page">
<!-- Contact me section -->
<section class="form-container" id="contact">

  <!-- Bootstrap grid for image and form -->
  <div class="row">
     <!-- Image column (col-md-6 for medium and larger screens) -->
      <div class="col-md-6" id="form-img-container">
        <img src="/assets/img/bundo-kim-S-TcfjrYVKo-unsplash.jpg" alt="Post" class="img-fluid" id="form-img">
      </div>

    <!-- Form column (col-md-6 for medium and larger screens) -->
    <div class="col-md-6">
      <!-- Form -->
      <form class="row g-3" name="contact" method="POST" data-netlify="true" data-netlify-honeypot="bot-field">
        <!-- Form elements go here -->
        <div class="col-md-6">
          <label for="inputFirstName4" class="form-label">First name</label>
          <input type="text" name="first name" class="form-control" id="inputFirstName4" required>
        </div>

        <div class="col-md-6">
          <label for="inputSurname4" class="form-label">Surname</label>
          <input type="text" name="surname" class="form-control" id="inputSurname4" required>
        </div>

        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="inputEmail4" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
        </div>

        <div class="col-md-6">
          <label for="inputPhone4" class="form-label">Phone</label>
          <input type="tel" name="phone" class="form-control" id="inputPhone4" required minlength="10">
        </div>

        <div class="col-12">
          <label for="message">Message</label>
          <textarea
            id="message"
            name="message"
            placeholder="Your message.."
            style="height: 200px; width: 100%"
          ></textarea>
        </div>

        <div class="col-12">
          <input type="submit" value="Submit" class="btn btn-primary">
        </div>

        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Terms and conditions
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
</main>
<!-- Contact me section END -->
